body {
	background-color: #d9dde0;
	font-family: 'Nunito', sans-serif;
	margin: 0;
}

#edit {
	background-color: white;
	width: 20em;
	margin: 3em auto;
	padding: 1em 0;
	box-shadow: 0px 0px 10px 5px #888888;
	background-color: white;
}

form{
	margin: 3em 1em;
	text-align: center;
}

form label {
	font-size: 14px;
}

form input {
	margin: 1em auto;
	display: block;
}

input[type="submit"]{
	margin: 2em auto;
	padding: 0.3em 1em;
	background-color: #d9dde0;
	box-shadow: 0px 0px 5px 2.5px #888888;
}